@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}


<h1>Restauran</h1>

<form  method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />  @*asp-for is used to bind this input fild with backed property*@
            <span class="input-group-btn">
                <button class="btn btn-primary">
                    Search
                    @*<i class="fa-search fa-search-plus"></i>*@
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach(var restaurant in Model.Restaurants)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.Location</td>
                    <td>@restaurant.Cuisine</td>
                    <td>
                        <a class="btn btn-lg"
                           asp-page="./Detail"
                           asp-route-restaurantId="@restaurant.Id">
                            @*these attributes are used to set the page name and route parameters by asp-route-restaurantId*@
                            <i class="fa-solid fa-magnifying-glass-location">detail</i>
                        </a>
                        <a class="btn btn-lg"
                           asp-page="./Edit"
                           asp-route-restaurantId="@restaurant.Id">
                            @*these attributes are used to set the page name and route parameters by asp-route-restaurantId*@
                            <i class="fa-solid fa-pen-to-square">Edit</i>
                        </a>
                    </td>
                </tr>
            }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Add new </a>

<div>@Model.Message</div>


